:root {
    --white-color: #eee;
    --gray-color: #4f4f4f;
    --bg-gray-color: #f6f6f6;
    --bg-gray-bold-color: hsl(0 0% 90% / 0.96);
    --hr-gray-color: rgba(0, 0, 0, .1);
    --bordered: 1px solid #7b7b7b6e;;
}

* {
    font-size: 14px;
}

body {
    font-family: 'Acme', sans-serif;
    background-color: var(--bg-gray-color);
}

.navbar {
    position: relative;
    width: 100%;
    height: 60px;
    overflow: hidden;
}

.navbar_body {
    width: max-content;
    height: 100%;
    margin: auto;
    background-color: var(--bg-gray-bold-color);
    border-radius: 40px;
    overflow: hidden;
    border: var(--bordered);
}
.nav-item:hover .nav-link {
    color: var(--white-color);
}

.nav-item .nav-link {
    color: var(--gray-color);
}

.nav-item {
    height: 100% !important;
    display: flex;
    align-items: center;
}

.form , .apis_area{
    margin: 20px 0;
    width: 100%;
    background-color: var(--bg-gray-bold-color);
    border-radius: 20px !important;
    border: var(--bordered);
}

.title_area::after {
    content: "";
    width: 1px;
    height: 50%;
    transform: translate(0, 50%);
    background: var(--hr-gray-color);
    position: absolute;
    right: 0;
    top: 0;
}

.form_body ,.table_area  {
    width: 1000px;
    margin: auto;
}

.options_area {
    width: 50%;
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    margin: 20px 0;
}

.column_input_area {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.process_icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
    line-height: 29px;
    transition: 0.5s all ease-in-out;
    color: var(--blue);
    border: 1px solid;
}

.add_new_column, .add_new_validation_rule {
}

.delete_column_row, .delete_validation_row {
    color: red;
    cursor: pointer;
    font-size: 20px;
}

.table thead th {
    border-bottom: 0px;
}

.center_elements {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.center_elements_space_between {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

input, select {
    border-radius: 20px !important;
    border: var(--bordered);
    text-indent: 10px;
}
input:focus{
    box-shadow: 0 0 0 0 !important;
    outline: none;
}
.api_card {
    border-radius: 10px;
    padding: 10px;
}

.validation_area {
    display: flex;
    flex-wrap: wrap;
}

.validation_item_area {
    position: relative;
}

.validation_item_area input {
    background-color: var(--bg-gray-bold-color);
    width: 100px;
}

.delete_validation_item {
    position: absolute;
    right: 0;
    line-height: 32px;
    font-size: 22px;
    justify-content: center;
    display: inline-flex;
    align-items: center;
}
.delete_validation_item_small {
    position: absolute;
    right: 0;
    font-size: 13px;
    width: 20px;
    height: 100%;
    line-height: 26px;
    border: 0 !important;
}

.btn-grad {
    background-image: linear-gradient(to right, #16222A 0%, #3A6073 51%, #16222A 100%);
    border-radius: 20px !important;
}

.btn-grad:hover {
    background-position: right center;
}

.hvr-shutter-in-vertical:before {
    border-radius: 50%;
}

.exclamation {
    font-size: 25px;
}

.background {
    position: relative;
    z-index: 0;
}

.layer_1 {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999999;
}
.darkmode-layer, .darkmode-toggle {
    z-index: 500;
}
